<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %> </title>
    <%- include('./partials/head.ejs', {title}) %>

    <link rel="stylesheet" href="/css/product-list-basic.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<body>
    <div class="wrapper">
        <%- include('./partials/sidebar.ejs', {}) %>

        <div class="main-panel">
            <%- include('./partials/navbar.ejs', {}) %>

            <div class="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <form action="/products" method="POST">
                    <%- include('./fields/text.ejs', {fieldname: 'searchLocation', fieldlabel: 'search by location', fieldplaceholder: 'location', valueField: (typeof result != 'undefined') ? result.loaction : '' }) %>
                    <input type="hidden" id="locationLat" name="locationLat" />
                    <input type="hidden" id="locationLng" name="locationLng" />
                    </form>
                </div>
                <% if(result.length > 0 ) { %>
                    <ul class="product-list-basic">
                        <% for(let i = 0; i< result.length; i++) { %>
                        <li>
            
                            <a href="#" class="product-photo">
                                <img src="<%= result[i].fileUrl %>" height="130" alt="<%= result[i].productName %>" />
                            </a>
            
                            <h2><a href="#"><%= result[i].productName %></a></h2>
                            <a href="#" class="product-compare">AVL in: <%= result[i].location %></a>
            
            
                            <p class="product-description"><%- result[i].productDes %></p>
            
                            <a href="/product/<%= result[i].productName %>"><button> view </button> </a>
                            <p class="product-price">₦ <%= parseInt(result[i].productPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></p>
                            
                        </li>
                        <% } %>
                    </ul>
               <% }else { %>

                <ul class="product-list-basic">
                    <li>
                        <p class="product-description"> There is no product available in this region, please kindly check back</p>
                    </li>
                    
                </ul>
                <% } %>
                
            </div>
        
    </div>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm00Wsdh6jJB2QzlW5c6t_nu0gMRAZB9s&libraries=places"></script>
    <script>
        function initialize() {
          var input = document.getElementById('searchLocation');
          var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('searchLocation').value = place.name;
                document.getElementById('locationLat').value = place.geometry.location.lat();
                document.getElementById('locationLng').value = place.geometry.location.lng();
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <%- include('./partials/script.ejs', {}) %>
    <%- include('./partials/script2.ejs', {}) %>

</body>

</html>