<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %> </title>
    <%- include('./partials/head.ejs', {title}) %>

    <link rel="stylesheet" href="/css/product-list-basic.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<body>
    <div class="wrapper">
        <%- include('./partials/sidebar.ejs', {}) %>

        <div class="main-panel">
            <%- include('./partials/navbar.ejs', {}) %>

            <div class="content">
                <% if(result.length < 0 ) { %>
                    <ul class="product-list-basic">
                        <% for(let i = 0; i< result.length; i++) { %>
                        <li>
            
                            <a href="#" class="product-photo">
                                <img src="<%= result[i].fileUrl %>" height="130" alt="<%= result[i].productName %>" />
                            </a>
            
                            <h2><a href="#"><%= result[i].productName %></a></h2>
                            <a href="#" class="product-compare">AVL in: <%= result[i].location %></a>
            
            
                            <p class="product-description"><%= result[i].productDes %></p>
            
                            <a href="/product/<%= result[i].productName %>"><button> view </button> </a>
                            <p class="product-price">₦ <%= parseInt(result[i].productPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></p>
                            
                        </li>
                        <% } %>
                    </ul>
               <% }else { %>

                <ul class="product-list-basic">
                    <li>
                        <p class="product-description"> There is no product available in this region, please kindly check back</p>
                    </li>
                    
                </ul>
                <% } %>
                
            </div>
        
    </div>
    </div>

    <%- include('./partials/script.ejs', {}) %>
    <%- include('./partials/script2.ejs', {}) %>

    <script>

    </script>
</body>

</html>