<div class="form-group row">
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"><%= fieldlabel %></label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="<%= fieldname %>" name="<%= fieldname %>" placeholder="<%= (typeof fieldplaceholder !== 'undefined') ? fieldplaceholder : '' %>" value="<%= valueField %>">
    </div>
</div>