<div class=" row" >
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"><%= fieldlabel %></label>
    <div class="col-sm-10 no-border"> 
        <input type="file" class="form-control" name="<%= fieldname %>" placeholder="<%= fieldPlaceholder %>" value = "<%- valueField %>" >
        <% if (valueField) { %>
            <img src="<%= valueField %>" class="p-2 mt-2" height='50px' />
            <a href="<%= valueField %>">Click to Preview current image </a>
        <% } %>
    </div>
</div>
