<div class="form-group row">
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"><b> <%= fieldlabel %> </b></label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="<%= fieldname %>" name="<%= fieldname %>" placeholder="<%= (typeof fieldplaceholder !== 'undefined') ? fieldplaceholder : '' %>" value="<%= valueField %>" required>
    </div>
</div>
