<div class="form-group row">
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"> <%= fieldlabel %> </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="<%= fieldname %>" autocomplete="on" runat="server" name="<%= fieldname %>" placeholder="<%= (typeof fieldplaceholder !== 'undefined') ? fieldplaceholder : '' %>" value="<%= valueField %>" required >
    </div>
</div>